<footer class="position-relative">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="footer-col">
            <div class="footer-logo">
              <img
                src="../../../assets/img/Logo.svg"
                alt="logo"
                loading="lazy"
              />
              <p class="mt-4" style="width: 75%">
                We make technology produce productive, adaptable and sustainable
                business experiences.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-4 col-12">
              <div class="footer-col">
                <div class="footer-title">
                  <h5 class="text-blue">Company</h5>
                </div>
                <ul class="links-list">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Mobile</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="footer-col">
                <div class="footer-title">
                  <h5 class="text-blue">Contact</h5>
                </div>
                <ul class="links-list">
                  <li><a href="#">Help/FAQ</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Affilates</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-12">
              <div class="footer-col">
                <div class="footer-title">
                  <h5 class="text-blue">Media</h5>
                </div>
                <ul class="links-list">
                  <li><a href="#">News</a></li>
                  <li><a href="#">Photo</a></li>
                  <li><a href="#">Video</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="footer-col">
            <div class="footer-social mb-3">
              <ul class="social-list">
                <li>
                  <a href="#" aria-label="facebook"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="#" aria-label="instagram"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="#" aria-label="twitter"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
              </ul>
            </div>
            <h5 class="mb-3 fw-bold">Discover our app</h5>
            <div class="d-flex">
              <a href="#" class="me-2"
                ><img
                  src="assets/img/google-play.png"
                  alt="google-play"
                  loading="lazy"
              /></a>
              <a href="#"
                ><img
                  src="assets/img/play-store.png"
                  alt="play-store"
                  loading="lazy"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center">
      <div class="copyrights">
        <p class="mb-0 fw-bold">All rights reserved@Linkdevelopment.com</p>
      </div>
    </div>
  </div>

  <div class="footer-decore"></div>
</footer>
