header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .bars {
      cursor: pointer;
    }
  }

  @keyframes stickyheader {
    0% {
      opacity: 0;
      transform: translateY(-60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

// Media Queries
@media (max-width: 1199px) {
  header nav {
    padding: 15px 0;
  }
}

@media (max-width: 991px) {
  header nav {
    .logo .navbar-brand img {
      width: 150px !important;
    }
    .bars {
      display: block;
      order: 2;
      margin-left: 10px;
    }
    .links-list.nav-menu {
      display: none;
      background-color: #f6f4f2;
      padding: 30px;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      border-radius: 8px;

      > ul {
        flex-direction: column;

        .list-item {
          margin: 5px 0;
          padding: 0 0 5px;

          .link.signup {
            margin: 0 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  nav {
    .logo .navbar-brand .logo img {
      width: 70px;
    }
    .links-list > ul .list-item .link.signup {
      padding: 5px 8px;
      margin: 0 8px;
    }
    .links-list > ul .list-item .link.right {
      font-size: 15px;
    }
  }
}

@media (min-width: 992px) and (max-width: 2400px) {
  .hamburger,
  .offcanvas,
  .offcanvas-backdrop {
    display: none !important;
  }
}
