<section>
  <div class="news-section py-4 position-relative">
    <div class="container">
      <div class="section-title text-center mb-4">
        <span class="d-block fw-bold mb-3">Media</span>
        <h2 class="title">Top News</h2>
      </div>
      <ul class="news-filter d-flex justify-content-center flex-wrap mb-4">
        <li class="mb-2" (click)="filterNewsByCategory(null)">
          <a [class.active]="selectedCategory === null">All News</a>
        </li>
        <li
          *ngFor="let category of allCategories"
          class="mb-2"
          (click)="filterNewsByCategory(category.id)"
        >
          <a [class.active]="selectedCategory === category.id">
            {{ category.name }}
          </a>
        </li>
      </ul>
      <div class="row d-flex justify-content-center">
        <div
          class="col-lg-4 col-md-6 mb-5 px-lg-3"
          *ngFor="let news of filteredNewsList"
        >
          <div class="news-card position-relative">
            <div class="card-img" style="height: 290px">
              <img
                [src]="news.urlToImage"
                class="img-fluid w-100"
                [alt]="news.title"
                loading="lazy"
              />
            </div>
            <div class="card-body p-4">
              <a href="#" class="mb-3 d-block">
                <h5>{{ news.title }}</h5>
              </a>
              <span class="date"
                ><i class="far fa-calendar-alt me-2"></i
                >{{ news.publishedDate }}</span
              >
              <div
                class="card-bottom d-flex justify-content-between align-items-center mt-3"
              >
                <span class="blog-label">{{
                  getCategoryName(news.categoryID)
                }}</span>
                <div class="blog-icons d-flex align-items-center">
                  <button
                    type="button"
                    class="heart me-3 text-sky"
                    aria-label="like"
                    [ngClass]="{ liked: news.isLiked }"
                    (click)="toggleLike(news)"
                  >
                    <i
                      class="far"
                      [ngClass]="
                        news.isLiked ? 'fa-solid fa-heart' : 'fa-heart'
                      "
                    ></i>
                  </button>
                  <div class="share position-relative">
                    <button
                      type="button"
                      class="toggle-icons text-sky"
                      aria-label="share"
                      (click)="toggleShare(news)"
                    >
                      <i class="fas fa-share-alt"></i>
                    </button>
                    <ul
                      class="share-icons"
                      [ngClass]="{ active: news.showShareIcons }"
                    >
                      <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="twitter">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li class="mail">
                        <a href="#"><i class="fas fa-envelope"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="text-center"
        *ngIf="
          newsList.length > 6 ||
          (filteredNewsList.length > 6 && selectedCategory !== null)
        "
      >
        <button class="main-btn" (click)="toggleShowAllNews()">
          {{ buttonText }}
        </button>
      </div>
    </div>

    <!-- Decore -->
    <div class="news-decore d-lg-block d-none">
      <img src="assets/img/news/decore.webp" alt="" loading="lazy" />
    </div>
  </div>
</section>
