<section>
  <div class="news-section py-4 position-relative">
    <div class="container">
      <div class="section-title text-center mb-4">
        <span class="d-block fw-bold mb-3">Media</span>
        <h2 class="title">Top News</h2>
      </div>
      <ul class="news-filter d-flex justify-content-center flex-wrap mb-4">
        <li class="mb-2"><a href="#" class="active">All News</a></li>
        <li class="mb-2"><a href="#">Technology</a></li>
        <li class="mb-2"><a href="#">Sport</a></li>
        <li class="mb-2"><a href="#">Health</a></li>
        <li class="mb-2"><a href="#">Economics</a></li>
      </ul>
      <div class="row d-flex justify-content-center g-lg-5">
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="news-card position-relative">
            <div class="card-img">
              <img
                src="assets/img/news/1.webp"
                class="img-fluid w-100"
                alt="news"
                loading="lazy"
              />
            </div>
            <div class="card-body p-4">
              <a href="post.html" class="mb-3 d-block">
                <h5>
                  Let us commit to do our part and advance the promise of
                  equality, justice...
                </h5>
              </a>
              <span class="date"
                ><i class="far fa-calendar-alt me-2"></i> 26 June, 2022</span
              >
              <div
                class="card-bottom d-flex justify-content-between align-items-center mt-3"
              >
                <span class="blog-label">Economics</span>
                <div class="blog-icons d-flex align-items-center">
                  <button
                    type="button"
                    class="heart me-3 text-sky"
                    aria-label="like"
                  >
                    <i class="far fa-heart"></i>
                  </button>
                  <div class="share position-relative">
                    <button
                      type="button"
                      class="toggle-icons text-sky"
                      aria-label="share"
                    >
                      <i class="fas fa-share-alt"></i>
                    </button>
                    <ul class="share-icons">
                      <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="twitter">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li class="mail">
                        <a href="#"><i class="fas fa-envelope"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="news-card position-relative">
            <div class="card-img">
              <img
                src="assets/img/news/2.webp"
                class="img-fluid w-100"
                alt="news"
                loading="lazy"
              />
            </div>
            <div class="card-body p-4">
              <a href="post.html" class="mb-3 d-block">
                <h5>
                  In interactive live seminar top lectures of the IHF present
                  current topics for all target groups ...
                </h5>
              </a>
              <span class="date"
                ><i class="far fa-calendar-alt me-2"></i> 26 June, 2022</span
              >
              <div
                class="card-bottom d-flex justify-content-between align-items-center mt-3"
              >
                <span class="blog-label">Economics</span>
                <div class="blog-icons d-flex align-items-center">
                  <button
                    type="button"
                    class="heart me-3 text-sky"
                    aria-label="like"
                  >
                    <i class="far fa-heart"></i>
                  </button>
                  <div class="share position-relative">
                    <button
                      type="button"
                      class="toggle-icons text-sky"
                      aria-label="share"
                    >
                      <i class="fas fa-share-alt"></i>
                    </button>
                    <ul class="share-icons">
                      <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="twitter">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li class="mail">
                        <a href="#"><i class="fas fa-envelope"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="news-card position-relative">
            <div class="card-img">
              <img
                src="assets/img/news/3.webp"
                class="img-fluid w-100"
                alt="news"
                loading="lazy"
              />
            </div>
            <div class="card-body p-4">
              <a href="post.html" class="mb-3 d-block">
                <h5>Libya to construct solar plant with Total Energies</h5>
              </a>
              <span class="date"
                ><i class="far fa-calendar-alt me-2"></i> 26 June, 2022</span
              >
              <div
                class="card-bottom d-flex justify-content-between align-items-center mt-3"
              >
                <span class="blog-label">Economics</span>
                <div class="blog-icons d-flex align-items-center">
                  <button
                    type="button"
                    class="heart me-3 text-sky"
                    aria-label="like"
                  >
                    <i class="far fa-heart"></i>
                  </button>
                  <div class="share position-relative">
                    <button
                      type="button"
                      class="toggle-icons text-sky"
                      aria-label="share"
                    >
                      <i class="fas fa-share-alt"></i>
                    </button>
                    <ul class="share-icons">
                      <li class="facebook">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li class="twitter">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li class="mail">
                        <a href="#"><i class="fas fa-envelope"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <a href="#" class="main-btn">View All News</a>
      </div>
    </div>

    <!-- Decore -->
    <div class="news-decore d-lg-block d-none">
      <img src="assets/img/news/decore.webp" alt="" loading="lazy" />
    </div>
  </div>
</section>
